//
 html
    include partials/head.pug

    body
      h1 Coffee List

      table
       thead
          tr
            th Title
            th Description
            th Ingredients
       tbody
          each coffee in coffees
            tr
              td coffee.title
              td #{coffee.description}
              td #{coffee.ingrediants}
              td 
               img.ghahve(src=img)
                 
       tfoot
          tr
           th(colspan='6') 
           